<!DOCTYPE html>
<html lang="en" {{ if ne .Config.UI.Theme "auto" }}class="{{ .Config.UI.Theme }}"{{ end }}>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/tailwind.css?v={{ .Version }}" />
        <link rel="icon" type="image/png" href="/static/icon.png" />
        <title>{{ .Config.UI.PageTitle }}</title>
    </head>
    <body class="flex flex-col justify-between p-6 mx-auto w-full md:p-8 md:w-3/4 lg:p-6 lg:w-1/2 min-h-dvh bg-neutral-50 dark:bg-zinc-900">
        <div>
            {{ template "content" . }}
        </div>

        <div class="mt-6 text-center text-gray-400 dark:text-gray-200">
            Built with <a class="text-avocado-600 hover:text-avocado-500" href="https://github.com/henrywhitaker3/prompage">PromPage</a> |
            Checked {{ .Age }} ago
        </div>

        {{ template "scripts" . }}
    </body>
</html>
