
{{- define "content" }}
<div class="flex flex-col justify-center items-center py-6 mb-6 w-full rounded-md shadow-md text-xl {{ .BannerClasses }}">
    {{- if eq .Outage "None" }}
    All Systems Operational
    {{- else }}
    {{ .Outage }} Systems Outage
    {{- end }}
</div>

{{- range .Results }}
{{- if .Results }}
<div class="mb-5">
    {{- if not (eq .Name "default") }}
    <h2 class="text-xl mb-2 pl-1 text-avocado-800 dark:text-avocado-100">{{ .Name }}</h2>
    {{- end }}
    <div class="flex flex-col items-center justify-center rounded-md shadow-md dark:shadow-none dark:bg-zinc-800">
        {{- range .Results }}
        <a href="/{{ .Service.Name }}" class="block w-full">
            <div class="flex justify-between items-center w-full py-6 px-6 md:px-8 lg:px-12 border-b border-gray-200 dark:border-none">
                <div>
                    <h3 class="text-lg font-bold md:inline-block md:mr-2 text-avocado-800 dark:text-avocado-100" >{{ .Service.Name }}</h3>
                    <span class="text-gray-500 dark:text-gray-300 text-sm">{{ $.Sprintf "%.2f" .Uptime  }}% over the last {{ $.PrettyDuration .Service.Query.Range }}</span>
                </div>
                <div>
                    {{- if not .Success }}
                    <img src="/static/unknown.svg" class="h-auto max-w-10" alt="unknown icon">
                    {{- else if .Status }}
                    <img src="/static/up.svg" class="h-auto max-w-10" alt="up icon">
                    {{- else }}
                    <img src="/static/down.svg" class="h-auto max-w-10" alt="down icon">
                    {{- end }}
                </div>
            </div>
        </a>
        {{- end }}
    </div>
</div>
{{- end }}
{{- end }}
{{- end }}

{{- define "scripts" }}
<script>
    setTimeout(() => { location.reload() }, {{ .Refresh }})
</script>
{{- end}}
