name: Test

on:
  pull_request:

jobs:
  unit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
      - run: go mod download
      - run: go test ./...

  chart:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        k8s_version:
          - 1.33.3
          - 1.33.4

    steps:
      - name: Check out the repo
        uses: actions/checkout@v6
      - uses: azure/setup-helm@v4
      - run: helm template prompage chart/ > templated.yaml
      - uses: docker://ghcr.io/yannh/kubeconform:latest
        with:
          entrypoint: "/kubeconform"
          args: "-summary -output json --kubernetes-version ${{ matrix.k8s_version }} templated.yaml"
